.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    width: 1100px;
    height: 293px;
    padding: 0 50px;
}

.header__menu {
    justify-self: start;
}

.address {
    width: 240px;
    height: auto;
    font-size: 18px;
    font-weight: 400;
}

.header__address {
    justify-self: end;
}

.address__text {
    text-decoration: none;
}

.address__text-underlined {
    text-decoration: underline;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    gap: 31.48px;
    font-size: 18px;
    font-weight: 400;
}

.menu__list a {
    color: rgba(0, 0, 0, 1);
}

.header__links-list-item {
    text-decoration: underline;
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item_no-bullit a {
    text-decoration: none;
}

.cover {
    position: relative;
    display: block;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 50px;
    height: 757px;
}

.overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.6)
}

.cover__title {
    position: relative;
    margin-bottom: 106px;
    z-index: 1;
}

.aligned-text {
    color: rgba(255, 255, 255, 1);
    display: block;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30%;
    text-transform: uppercase;
}

.aligned-text-center {
    text-align: center;
}

.aligned-text-right {
    text-align: right;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
}

.bet-button {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 32px;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
    padding: 180px 24px 0px;
}

.lots__heading {
    margin-left: 40px;
    margin-bottom: 27px;
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card__link {
    display: inline-block;
    height: 100%;
}

.card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    text-decoration-line: underline;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.card__text {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    position: relative;
    z-index: 1;
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.about {
    display: grid;
    gap: 25px;
    grid-template-columns: 334px 1fr;
    padding: 120px 24px 180px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin: auto;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    padding-top: 136px;
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.about__text-padding {
    padding-right: 5px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 50px 82px;
}

.footer__address {
    justify-self: start;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    justify-content: end;
    list-style: none;
    display: flex;
    gap: 48px;
}

.footer__social-link-icon {
    width: 46px;
    height: 46px;
}